<div class="alert alert-danger alert-danger-customize" role="alert">
{% for message in errorMsg %}
        {{ message }}<br>
{% endfor %}
</div>

<script>
    var errors = {{ fieldMsg |json_encode()|raw }}
    $( "input" ).removeClass('is-invalid ');
    $( "label" ).removeClass('is-invalid ');
    $.each(errors, function(name,message)
    {
        $( "input[name*='"+name+"']" ).addClass('is-invalid');
        $( "label[for*='"+name+"']" ).addClass('is-invalid');
    });
</script>