<div class="form-group {{ class }} {{ column_width }} ">
    <div class="d-flex">
        <label for="{{ id }}" class="custom-checkbox">
            {% if hide_labels != 1 %}    
                {{ label |raw }}
            {% endif %}
            <input type="checkbox" {{ checked ? 'checked="checked"' : '' }} name="{{ id }}" id="{{ id }}" value="1">
            <span class="checkmark mt-2 mt-sm-1"></span>    
        </label>    
    </div>
    <div data-validate-for="{{ id }}" class="invalid-feedback"></div>
    {% if comments %}
        <small id="{{ id }}-comments" class="form-text text-muted">{{data.comments_icon | inline }} {{ comments | raw }}</small>
    {% endif %}
</div>