{% if type=='submit' %}
	<input type="{{ type }}" class="{{ class }}" name="{{ id }}" id="{{ id }}" aria-describedby="{{ id }}-comments"  value="{{ value }}">
{% else %}
	<div class="form-group {{ column_width }} {{ class }}">
	{% if hide_labels != 1 %}
		<label for="{{ id }}">{{ label }}</label>
		{% if comments %}
			{{ data.comments_icon | inline }}
		{% endif %}
	{% endif %}
		<div class="d-flex">
			<input type="{{ type }}" class="form-control" name="{{ id }}" id="{{ id }}" aria-describedby="{{ id }}-comments" placeholder="{{ placeholder }}" value="{{ value }}">
		</div>
		<div data-validate-for="{{ id }}" class="invalid-feedback"></div>
	{% if comments %}
		<small id="{{ id }}-comments" class="form-text text-muted">{{data.comments_icon | inline }} {{ comments }}</small>
	{% endif %}
	</div>
{% endif %}
