<!--
<?php print_r($field); ?>
-->
<select class="form-control custom-select" 
            id="<?= $field->getId() ?>"
            name="<?= $field->getName() ?>[]"
>
<?php if ($field->placeholder): ?>
    <option value=""><?= e(trans($field->placeholder)) ?></option>
<?php endif ?>
<?php 
    $Campaigns = Codestackers\Lovechock\Models\FaqGroup::get()->toArray();
    foreach( $Campaigns as $Campaign)
    {
        echo('<option value="'.$Campaign['id'].'">'.$Campaign['name'].'</option>');
    }
;?>
</select>

